html,
body {
    height: 100%;
} 

body {
    background-image: url(images/dust_scratches.png);
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.border-bottom { 
    border-width:3px !important;
    margin-top: 3px;
}